<!-- Start Footer Area -->
<footer class="footer1">
    <div class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="footer-content logo-footer">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a class="footer-black-logo" href="/"><img src="<%=websiteDetails.website_logo%>" alt=""></a>
                            </div>
                            <p>
                                <%-websiteDetails.website_description%>
                            </p>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Information</h4> 
                            <div class="footer-contacts">
                                <p><span>Tel :</span> <%=websiteDetails.website_phone_number%></p>
                                <p><span>Email :</span> <%=websiteDetails.website_email%></p>
                                <p><span>Location :</span> <%=websiteDetails.website_address%></p>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © <script>document.write(new Date().getFullYear())</script>
                            <a href="<%=websiteDetails.website_dev_link%>"><%=websiteDetails.website_dev_name%></a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer area -->

<!-- all js here -->

<!-- jquery latest version -->
<script src="/blog/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap js -->
<script src="/blog/js/bootstrap.min.js"></script>
<!-- owl.carousel js -->
<script src="/blog/js/owl.carousel.min.js"></script>
<!-- magnific js -->
<script src="/blog/js/magnific.min.js"></script>
<!-- wow js -->
<script src="/blog/js/wow.min.js"></script>
<!-- meanmenu js -->
<script src="/blog/js/jquery.meanmenu.js"></script>
<!-- Form validator js -->
<script src="/blog/js/form-validator.min.js"></script>
<!-- plugins js -->
<script src="/blog/js/plugins.js"></script>
<!-- main js -->
<script src="/blog/js/main.js"></script><a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;"><i class="ti-angle-up"></i></a>

</body></html>