<%-include("./partials/header")%>
                    
<div class="card overflow-hidden">
    <div class="bg-primary bg-soft">
        <div class="row">
            <div class="col-7">
                <div class="text-primary p-4">
                    <h5 class="text-primary">Welcome Back!</h5>
                    <p>Sign in to continue to <%=websiteDetails.website_title %>.</p>
                </div>
            </div>
            <div class="col-5 align-self-end">
                <img src="/user/images/profile-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div>
            <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                        <img src="<%=websiteDetails.website_favicon %>" alt="" class="rounded-circle" height="34">
                    </span>
                </div>
            </a>
        </div>
        <div class="p-2">
            <form id="login" class="needs-validation">

                <div class="mb-3">
                    <label for="credentials" class="form-label">Username Or E-mail</label>
                    <input type="text" class="form-control" id="credentials" placeholder="Enter Username Or E-mail" required>
                    
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group auth-pass-inputgroup">
                        <input required="" id="password" type="password" class="form-control" placeholder="Enter password" aria-label="Password"
                            aria-describedby="password-addon">
                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="remember-check">
                    <label class="form-check-label" for="remember-check">
                        <p class="mb-0">Remember Me</p>
                    </label>
                </div>
                
            
                <div class="mt-4 d-grid">
                    <button id="submit" class="btn btn-primary waves-effect waves-light"
                        type="submit">Login</button>
                </div>

                
                
                
            </form>
        </div>

    </div>
</div>

<div class="mt-5 text-center">

    <div>
        <p>Don't have an account ? <a href="/register" class="fw-medium text-primary">
                Register</a> </p>
        <p>Forgot Password ? <a href="/forgot-password" class="fw-medium text-primary">
                Reset</a> </p>
        <p>©
            <script>document.write(new Date().getFullYear())</script> <%=websiteDetails.website_title %>. Designed with <i
                class="mdi mdi-heart text-danger"></i> by <a href="<%=websiteDetails.website_dev_link %>"><%=websiteDetails.website_dev_name %></a>
        </p>
    </div>
</div>

<script src="/user/js/auth/login.js"></script>
<%-include("./partials/footer")%>