<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title><%=title%> - <%=websiteDetails.website_tagline %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="<%=description%>" />
    <meta content="<%=websiteDetails.website_author %>" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="<%=websiteDetails.website_favicon %>">

    <%-websiteDetails.website_header_code%>

    <!-- Bootstrap Css -->
    <link href="/user/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/user/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/user/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/user/js/lib/style.css">

</head>

<body>

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">