<!-- Footer start -->
<footer class="landing-footer">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Company</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="/page/about-us">About Us</a></li>
                        <li><a href="/page/how-it-works">Learn More</a></li>
                        <li><a href="/page/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/page/nft">NFT Market</a></li>
                        <li><a href="/page/how-to-register">How To Register</a>
                        </li>
                        <li><a href="/page/disclaimer">Disclaimer</a></li>
                        <li><a href="/page/terms-of-services">Terms & Conditions</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Links</h5>
                    <ul class="list-unstyled footer-list-menu">
                        <li><a href="/user/dashboard">Dashboard</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/page/faqs">FAQs</a></li>
                        <li><a href="/package">Package's</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="mb-4 mb-lg-0">
                    <h5 class="mb-3 footer-list-title">Social Handles</h5>
                    <ul class="social">
                        <li><a href="<%=websiteDetails.website_facebook%>"><i class="bx bxl-facebook facebook"></i></a></li>
                        <li><a href="<%=websiteDetails.website_twitter%>"><i class="bx bxl-twitter twitter"></i></a></li>
                        <li><a href="<%=websiteDetails.website_instagram%>"><i class="bx bxl-instagram instagram"></i></a></li>
                        <li><a href="<%=websiteDetails.website_youtube%>"><i class="bx bxl-youtube youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->

        <hr class="footer-border my-5">

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-4">
                    <img src="<%=websiteDetails.website_logo%>" alt="" height="20">
                </div>

                <p class="mb-2">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©
                    <%=websiteDetails.website_title%>. Design &amp; Develop by
                        <a href="<%=websiteDetails.website_dev_link%>">
                            <%=websiteDetails.website_dev_name%>
                        </a>
                </p>

            </div>

        </div>
    </div>
    <!-- end container -->
</footer>
<!-- Footer end -->

<!-- JAVASCRIPT -->
<script src="/user/libs/jquery/jquery.min.js"></script>
<script src="/user/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/libs/metismenu/metisMenu.min.js"></script>
<script src="/user/libs/simplebar/simplebar.min.js"></script>
<script src="/user/libs/node-waves/waves.min.js"></script>

<script src="/user/libs/jquery.easing/jquery.easing.min.js"></script>

<!-- Plugins js-->
<script src="/user/libs/jquery-countdown/jquery.countdown.min.js"></script>

<!-- owl.carousel js -->
<script src="/user/libs/owl.carousel/owl.carousel.min.js"></script>

<!-- ICO landing init -->
<script src="/user/js/pages/ico-landing.init.js"></script>

<script src="/user/js/app.js"></script>


<%-websiteDetails.website_footer_code%>


    </body>

    </html>